body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    overflow: hidden;
}
header{
    width: 100%;
    background-color: #520404;
    display: inline-flex;
    color: White;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.title{
    width: 300px;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 3px;
}
header nav{
    display: inline-flex;
    position: relative;
    margin-left: 55%;
   
}
*{
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
}
header nav ul{
    display: inline-flex;
}
header nav ul li{
    padding-left: 15px;
}
main{
    width: 100%;
    display: inline-flex;
}
.sidebar{
    width: 15%;
    height: 100vh;
    background-color: #000000ec;
    position: fixed;
    top: 0;
    z-index: 998;
}
.id{
    position: relative;
    top: 70px;
    left: 12px;
    width: 300px;
    height: 70px;
}
.id h5{
    color: #abcbd3;
}
.status{
    display: inline-flex;
    position: relative;
    top: 80px;
    left: 13px;
}
.status div{
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(30, 214, 30);
    border-radius: 500px;
    margin-top: 20px;
    margin-right: 5px;
}
.status h6{
    margin-top: 20px;
}
.details{
    margin-top: 90px;
    margin-left: 10px;
}
.details span{
    color: rgb(221, 193, 193);
}
.panel{
    width: 85%;
    background-color: rgb(93, 137, 185);
    margin-left: 15%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
}
.welcome h2{
    color: black;
}
.cards-container{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    flex-wrap: wrap;
    margin-left: 10%;
}
.card{
    height: 200px;
    width: 300px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;

}
.card a{
    background-color: black;
    margin: 30px 0;
    padding: 10px 5px;
    width: 70px;
    text-align: center;
}
.card p{
    color: #1f0000;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.card small{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
}